* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: purple;
}

a:visited {
    color: purple;
}

a:hover {
    color: limegreen;
    text-decoration: underline;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Lucida Console";
    text-shadow: 3px 3px 6px #00000040;

}

h2 {
    margin-bottom: 8px;
}

h3 {
    font-family: 'Courier New', monospace;
    text-shadow: 3px 3px 6px #00000040;
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
    font-weight: lighter;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

main {
    text-align: center;
    margin-bottom: 64px;
}

main p {
    font-family: 'Courier New', monospace;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
}

footer {
    text-align: center;
    background-color: white;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 4px;
}

footer h3 {
    margin-bottom: 4px;
}

.header-nav {
    margin-bottom: 20px;
}

.header-nav a {
    margin-left: 4px;
    margin-right: 4px;
    font-family: 'Courier New', monospace;
    color: black;
    font-size:x-large;
    transition: color .2s;
}

.header-nav a:visited {
    color: black;
}

.header-nav a:hover {
    color: limegreen;
    text-shadow: 3px 3px 6px #00000040;
}

.footer-nav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, .66);
    font-size:medium;
    letter-spacing: 1px;

}

.container {
    display: flex;
    justify-content:space-evenly;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.container article {
    padding-bottom: 8px;
}

.container article img {
    border: 1px solid ;
    border-color: rgba(0, 0, 0, .33);
    opacity: 67%;
}

.container article img:hover {
    opacity: 100%;
    border-color: rgba(0, 0, 0, 1);
    transition: opacity 0.3s;
}

.container article p.album, .container article p.year{
    opacity: 50%;
}

.done {
    color: #00000040;
    text-decoration: line-through;
}

#contact {
    font-family: 'Courier New', monospace;
    font-size: larger;
    color: black;
    border: 1px solid black;
    padding: 0.2em;
    transition: color .2s;
}

#contact:hover {
    text-decoration: none;
    color: limegreen;
    border: 1px solid limegreen;
    text-shadow: 3px 3px 6px #00000040;
    background-color:whitesmoke;
}

.footer-nav a {
    transition: color .2s;
}

.footer-nav a:hover {
    text-shadow: 3px 3px 6px #00000040;
}

.footer-nav a:visited {
    color: black;
}

#facebook {
    background-color: #1877F2;
    color: white;
    padding: 0.1em;
    opacity: 40%;
    border-radius: 5px;
}

.footer-nav #facebook:hover {
    opacity: 100%;
    transition: opacity .5s;
}

#github {
    background-color: gold;
    color: black;
    padding: 0.1em;
    opacity: 40%;
    border-radius: 5px;
}

.footer-nav #github:hover {
    opacity: 100%;
    transition: opacity .5s;
}

#instagram {
    background-color: #833AB4;
    color: black;
    padding: 0.1em;
    opacity: 40%;
    border-radius: 5px;
}

.footer-nav #instagram:hover {
    opacity: 100%;
    transition: opacity .5s;
}

#linkedin {
    background-color: #0A66C2B4;
    color: white;
    padding: 0.1em;
    opacity: 40%;
    border-radius: 5px;
}

.footer-nav #linkedin:hover {
    opacity: 100%;
    transition: opacity .5s;
}

#soundcloud {
    background-color: #FF5500;
    color: white;
    padding: 0.1em;
    opacity: 40%;
    border-radius: 5px;
}

.footer-nav #soundcloud:hover {
    opacity: 100%;
    transition: opacity .5s;
}

#youtube {
    background-color: #FF0000;
    color: white;
    padding: 0.1em;
    opacity: 40%;
    border-radius: 5px;
}

.footer-nav #youtube:hover {
    opacity: 100%;
    transition: opacity .5s;
}

.footer-copyright {
    font-style: italic;
    font-size: x-small;
}

#hi {
    font-size: x-large;
    margin-bottom: 20px;
    overflow: hidden;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    animation: typing 0.15s steps(6) forwards;
}

#typing-container0 {
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

#typing-container1 {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

#typing-container2 {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#typing-container3 {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

#typing-container4 {
    width: 440px;
    padding-left: 366px;
    margin-left: auto;
    margin-right: auto;
}

#line1{
    overflow: hidden;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    animation: typing 1.15s steps(42) forwards;
    animation-delay: .15s;

}

#line2{
    overflow: hidden;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    animation: typing 1.025s steps(50) forwards;
    animation-delay: 1.30s;
}

#line3{
    overflow: hidden;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    animation: typing 0.55s steps(46) forwards;
    animation-delay: 2.325s;
    margin-bottom: 20px;
}

#line4{
    overflow: hidden;
    width: 0;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    animation: typing 0.3s steps(6) forwards;
    animation-delay: 2.875s;
    font-size: large;
}

.cursor {
    animation: blink 1s infinite;
}

#bio-main {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#bio-main > :first-child {
    margin-bottom: 10px;
}

#skills {
    font-size:smaller;
}

#html {
    margin: 4px;
    padding: 12px 4px;
    background-color: orange;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    opacity: 66%;
}

#html:hover {
    opacity: 100%;
}

#css {
    margin: 4px;
    padding: 12px 9px;
    background-color: dodgerblue;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    opacity: 66%;
    width: 48px;
    height: 48px;
}

#css:hover {
    opacity: 100%;
}

#javascript {
    margin: 4px;
    padding: 12px 13px;
    background-color: gold;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    opacity: 66%;
    width: 48px;
    height: 48px;
    text-align: center;
}

#javascript:hover {
    opacity: 100%;
}

#typescript {
    margin: 4px;
    padding: 12px 13px;
    background-color:#007acc;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    opacity: 66%;
    width: 48px;
    height: 48px;
}

#typescript:hover {
    opacity: 100%;
}

#react {
    margin: 4px;
    padding: 12px 1px;
    background-color:#333;
    width: 48px;
    height: 48px;
    color: skyblue;
    border-radius: 4px;
    font-weight: bold;
    opacity: 66%;
}

#react:hover {
    opacity: 100%;

}

#node {
    margin: 4px;
    padding: 12px 5px;
    background-color:#8CC84B;
    color: whitesmoke;
    border-radius: 4px;
    font-weight: bold;
    opacity: 66%;
}

#node:hover {
    opacity: 100%;
}

#python {
    margin: 4px;
    padding: 12px 13px;
    background-color:royalblue;
    color:gold;
    border-radius: 4px;
    font-weight: bold;
    opacity: 66%;
}

#python:hover {
    opacity: 100%;
}

#composer {
    margin: 4px;
    padding: 12px 0px;
    display: inline-block;
    height: 48;
    width: 48;
    border-radius: 4px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    background-image: url('img/logos/composer.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: cadetblue;
    opacity: 66%;
}

#composer:hover {
    opacity: 100%;
}

#synth {
    margin: 4px;
    padding: 12px 0px;
    display: inline-block;
    height: 48;
    width: 48;
    border-radius: 4px;
    font-weight: bold;
    color: whitesmoke;
    background-image: url('img/logos/synth.png');
    background-position: center;
    opacity: 66%;
}

#synth:hover {
    opacity: 100%;
}

#drums {
    margin: 4px;
    padding: 12px 0px;
    display: inline-block;
    height: 48;
    width: 48;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    background-image: url('img/logos/drums.png');
    background-position: center;
    background-size:contain;
    background-color:darkkhaki;
    opacity: 66%;
    margin-bottom: 30px;
}

#drums:hover {
    opacity: 100%;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .footer-nav a {
        font-size: small;
        letter-spacing: 0px;
    }
}




